<p>Tämä on testiaikainen kotisivu, jossa on simuloitua dataa</p>
<h1>Sähkö on nyt kallista</h1>
<h1>Hinta on {{price}} senttiä per kilowattitunti</h1>
<h2>Tuuli {{wind}} m/s</h2>
<h2>Lämpötila {{temperature}} astetta</h2>
